body{
    padding:0;
    margin:0;
    background:white;
}

#project-headline{ 
    margin-bottom: 50px;
    background-color: #1a1a1d;
    background-size: cover;
    padding-top: 25px;
    overflow:hidden;
    transition: width 2s;
}
#first-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
  
#project-title {
    position: relative;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #950740;
    color: #c3073f;
    letter-spacing: -0.05em;
    font-family: 'Poppins',sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 80px;
    transition: all 0.25s ease-out;
}
#project-title:hover {
    text-shadow: -16px 6px 15px #6f2232;
}
       
#project-1{
    background: url(../images/css-guide.png) no-repeat top left;
    overflow: hidden;
    background-size: cover;
}
#project-2{
    margin-top: 570px;
    background: url(../images/moraine-lake.png) no-repeat;
    overflow: hidden;
}
#project-3{
    margin-top: 570px;
    background:url(../images/friends-main.png) no-repeat center ;
    overflow: hidden;
}
#project-one,
#project-two,
#project-three{
    font-size: 32px;
    font-family: 'Poppins', 'sans-serif';
    border: 1px solid;
    width: 95%;
    margin-top: 500px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 15px 15px 0 0;
    text-align: center;
    background:  #05386B;
    color: #fff;
    text-shadow: 0 1px 1px rgb(206, 201, 201);
   
}
#css-about-section,
#gallery-about-section,
#friends-about-section{
    margin-top: -10px;
    background: white;
    height: 60vh;
  

}

#css-about,
#gallery-about,
#friends-about{
    font-family:'Comfortaa', cursive;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 32px;
}
.css-info,
.gallery-info,
.friends-info,
.github-info{
    font-family: 'Poppins', 'sans-serif';
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: justify;
}
.repo,
.live-demo{
    padding: 20px;
    font-weight: 600;
    border: 2px solid #63cc82;
    font-size: 18px;
    background-color: #63cc82;
    color: white;
}


.repo{
    margin-left: 60%;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 5px;
}
.live-demo{
    margin-left: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}
.repo:hover,
.live-demo:hover{
    border: 3px solid #51ddfc;
    transform: scale(1.1);
    border-radius: 5px;
    cursor: pointer;
}
.languages{
   
    font-weight: 500;
    font-family: 'Poppins', 'sans-serif';
    padding-left: 20px;

}
.css-languages{
    padding-left: 20px;
}
.jquery{
    border: 2px solid #131B28;
    background: #131B28;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: 700;
    font-family: 'Viga', sans-serif;

}
.js{
    border: 2px solid #F0DB4F;
    background: #F0DB4F;
    color: #323330 ;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;

}
.sass{
    border: 2px solid  #cd6799;
    background: #fff;
    color:  #cd6799;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin-right: 20px;
    font-weight: 700;
    font-family: 'Lobster', cursive;
}
.css{
    font-family:'Play', sans-serif;
    border: 2px solid #264de4;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin-right: 20px;
    background: #264de4;

}
.html{
    font-family: 'Lato', sans-serif;
    border: 2px solid #e34c36;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    margin-right: 20px;
    background:  #f06529;
}
/* slideshow container */
#slideshow-css,
#slideshow-gallery,
#slideshow-friends{
  border-top: 1px solid #000;
   position: relative;
    margin-top: 380px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    background-color: #fff;
}
#slideshow-css > div,
#slideshow-gallery > div,
#slideshow-friends > div{
  position: absolute;
  top: 75%;
  left: 10px;
  right: 10px;
  bottom: 0; 
 
}

img{
    margin-left: 10%;
    margin-top: 40px;
}
.gallery-images,
.friends-images{
    margin-top: 0px;
    margin-left: -1px;
    width: 300px;
    height: 300px;
}
.friends-images{
    width: 350px;
    margin-left: 5px;
}
.caption{
   text-align: center;
    color: #000;
    font-weight: bolder;
    /* margin-left: 10%; */
    font-family: 'Poppins', 'sans-serif';
    margin-top: 20px;
    margin-left: 15%;
    margin-bottom: 20%;
    font-size: 18px;
    letter-spacing: 2px;
    /* margin-right: 10px; */

}
/* github */
#github-section{
    height: 90vh;
    width: 100%;
    margin-top: 330px;
    border-top: #63cc82 2px solid;
}
#other-p{
    margin-top: 100px;
}
.other-projects{
    font-family:'Play', sans-serif;
    padding-top: 90px;
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
}
.github-image{
    padding-bottom: 25px;
    text-align: center;
    margin-left: 33%;
    margin-right: 1%;
}
.github-info{
    margin-bottom: 40px;
}
/* footer*/
.row {
    background-color: #2b7a78;
    color: #fff;
}
.display-5{
    padding-left: 15px;
    text-align: center;
    margin-bottom: 10px;
    margin-bottom: 10px;
}
.social-media{
    margin-top: 10px;
    text-align: center;
}
.social-media ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .social-media ul li {
    display: inline-block;
    color: #fff;
    margin: auto 0;
  }
  
  a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
  }
  a.twitter {
    background-image: url(../images/twitter\ copy.svg);
  }
  a.linkedin {
    background-image: url(../images/linkedin\ copy.svg);
  }
  a.github {
    background-image: url(../images/github\ copy.svg);
  }
  a.social:hover {
    opacity: 1;
  }
  .clearfix {
    clear: both;
  }
/* Media Queries */
@media(min-width: 769px){
    #project-title{
        font-size: 120px;
    }
    
    #project-one,
    #project-two,
    #project-three{
        width: 75%;
        margin-left: 70px;
    }
    .css-info,
    .gallery-info,
    .friends-info{
        width: 75%;
        margin-left: 20px;
    }
    
    .languages{
        padding-left: 40px;
        font-weight: 700;
    }
    .css-languages{
        padding-top: 100px;
    }
    .repo,
    .live-demo{
        margin-left: 75%;
    }
    .gallery-images,
    .friends-images{
        width: 450px;
        margin-left: 20%;
    }
    img
    {
        margin-left: 30%;
    }
    .css-first-image{
        height: 350px;
        width: 450px;
    }
    .caption{
        font-size: 26px;
        color: black;
        margin-left: 35%;
    }
    #slideshow-css{
        margin-top: 150px;
    }
    @media(min-width: 1024px) {
        #project-title{
            font-size: 140px;
        }

        #first-project{
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-wrap: wrap;
        }
       
        #project-1,
        #project-2,
        #project-3{
            background: url('../images/css-guide-landscape.png') no-repeat left;
            background-size: contain;
            overflow: hidden;
            margin-top: -50px;
            border-bottom: 2px groove #63cc82;
            height: 60vh;
        }
        #project-2{
            background: url('../images/moraine-lake.png') no-repeat left bottom;
            background-size: cover;
            margin-top: 110px;
        }
        #project-3{
            background: url('../images/friends-main.png')no-repeat;
            background-size: cover;
            margin-top: 110px;
        }
        #css-layout,
        #gallery-layout,
        #friends-layout{
            margin-top: -500px;
            height: 450px;
         
          
        }
        #project-one,
        #project-two,
        #project-three{
            background: #ffe400;
            width: 20%;
            margin-left: 40%;
            border-radius: 0px 0px 15px 15px;
            
        }
        #first-project,
        #third-project{
            display: flex;
            flex-direction: row;
        }
        #second-project{
            display:flex;
            flex-direction: row-reverse;
        }

        #css-about-section,
        #gallery-about-section,
        #friends-about-section{
            display: flex;
            width: 50%;
           
            margin-top:0px;
        }
        
        #slideshow-css,
        #slideshow-gallery,
        #slideshow-friends{
            margin-top:70px;
            display: flex;
            width: 50%;
            padding-right: 10px;
            height: 80vh;
            border-top: none;
        }
        #slideshow-gallery{
            margin-right: 5px;
        }
       
        img,
        .gallery-images,
        .friends-images{
            margin-top: -330px;
            
        }
        .gallery-images,
        .friends-images{
            margin-left: 2px;
            width: 100%;
            height: 450px;
            margin-top: -340px;
        }
        .friends-images{
            margin-left: -2px;
        }
        .css-languages{
            padding-top: 20px;
        }
        .repo,
        .live-demo{
            margin-top: 0px;
           display: none;
           
        }
       
        .live-demo{
            padding-top: -40px;
        }
        #right-top,
        #right-side{
            margin-left: 75%;
        }
    }
}
